.choosenHeroTitle{
    width: 252px;
    height: 40px; 
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 100%), 
        rgba(191, 16, 90, 0.8
    ); 
    border: 1px solid rgba(243, 76, 116, 0.6);
    box-sizing: border-box; 
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24);
    border-bottom-left-radius:24px;
    border-bottom-right-radius: 24px; 
    font-size:16px; 
    font-family: Nunito Sans Bold; 
    line-height: 32px; 
    text-align:center; 
    color:white;
    text-align:center     
}
.itemSelectionInfoView{
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    width: 288px; 
    height:88px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
    font-size: 20px;
    text-align: center; 
    color: #141A3D; 
    overflow:hidden; 
    font-weight:400; 
    font-weight:normal; 
    font-family: Nunito Sans Bold
}
.itemPositionView{
    width: 120px;
    height: 25px; 
    margin:0px auto 22px; 
    margin-bottom:20px; 
    background: linear-gradient(
        180deg, 
        #F48BB8 0%, 
        #ED5C9A 100%
    );
    border: 1px solid #FBD4E5;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), inset 1px -2px 2px rgba(232, 131, 173, 0.25); 
    border-bottom-left-radius:24px; 
    border-bottom-right-radius: 24px; 
    font-size:10px; 
    display:flex; 
    align-items: center; 
    justify-content:center; 
    color:white 
}
.confirmButton{
    position: absolute; 
    width:216px; 
    height:42px; 
    background: linear-gradient(
        180deg, 
        #DB5186 0%, 
        #C6236A 100%
    ); 
    border: 2px solid #D34E7E;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.24); 
    border-radius: 30px; 
    line-height:34.5px; 
    font-family: Nunito Sans Bold; 
    color:white; 
    font-size:15px; 
    text-align:center
}